.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .img {
    margin: 20px;
    width: 250px;
    height: 250px;
    --color1: #0000ff;

    transform-origin: center center;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
} */
