.list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--bg-modal-two-colour);
    width: 282px;

    justify-content: space-between;
}
.tableContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.mobileTableDiv {
    margin-bottom: 12px;
}

.text:first-child {
    margin-right: 20px;
}

.title {
    margin-bottom: -5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.04em;

    color: var(--text-color-four);
}

.text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;

    font-size: 8px;
    line-height: 1.12;
    letter-spacing: 0.04em;

    color: var(--text-color-four);
}

.textNumber {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.04em;

    color: green;

    margin-right: 20px;
}
.btnDelete {
    width: 18px;
    height: 18px;
    border-radius: 50px;

    border: none;
    background: none;
    background-image: url(../../../images/delete.svg);

    background-position: center;
    background-repeat: no-repeat;
    transition: all 250ms linear;
}

.btnDelete:hover,
.btnDelete:focus {
    background: var(--bg-modal-two-colour);
    background-image: url(../../../images/delete.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.flex {
    padding-bottom: 12px;
    display: flex;
    align-items: center;
}

.textFlex {
    display: flex;
}

@media screen and (min-width: 768px) {
    .mobileTableDiv {
        display: none;
    }
}
