.list {
  width: 213px;
}

.text {
  font-family: 'Roboto';

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-left: auto;

  color: #000000;
  margin: 0;
}
.span {
  margin-left: auto;
}

.item {
  width: 213px;
  height: 38px;

  background: #f5f6fb;
  border: 2px solid #ffffff;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:last-child {
  border-bottom-right-radius: 16px;
}

.textItem {
  width: 213px;
  height: 38px;

  background: #f5f6fb;

  border-top-left-radius: 22px;
  border-top-right-radius: 22px;

  display: flex;
  justify-content: center;
  align-items: center;
}
