.Button {
    /* Геометрия */
    width: 125px;
    height: 44px;
    margin-right: 15px;
    /* Текст */
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    /* Оформление */
    background-color: var(--bg-modal-two-colour);
    border-radius: 16px;
    box-shadow: 1px 3px 5px rgba(82, 85, 95, 0.15);
    border: none;
    color: var(--text-color-four);
    cursor: pointer;
}

.Button:last-child {
    margin-right: 0;
}

.Button:hover,
.Button:focus {
    background-color: var(--accent-color);
    box-shadow: 1px 3px 5px rgba(255, 107, 8, 0.35);
    color: #ffffff;
}

/* -------Альтернативный стиль--------------- */
button {
    border-radius: 4px;
    border: rgba(114, 123, 206, 0.5);
    font-size: 12px;
    background-color: rgba(114, 123, 206, 0.5);
    box-shadow: 0 1px 5px 1px #ffffff;
    transition: transform var(--anim-props), background-color var(--anim-props),
        box-shadow var(--anim-props), color var(--anim-props);
}
button:hover {
    transform: scale(1.1);
    background-color: var(--accent-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
        -23px 0 20px -23px rgba(0, 0, 0, 0.6),
        23px 0 20px -23px rgba(0, 0, 0, 0.6), inset 0 0 40px rgba(0, 0, 0, 0.1);
    border: 0px solid var(--accent-color);
    color: #ffffff;
}

/* //-------BUTTON STYLE PROTOTYPE https://codepen.io/marik-bobmagik/pen/nQdGWZ---//// */
/* @import url(https://fonts.googleapis.com/css?family=Droid+Sans:bold+Lobster);
@import url(https://fonts.googleapis.com/css?family=Lobster); */

/* -------------- THE button -------------- */
button {
    /* text */
    text-decoration: none;
    /* font: 11px/1em 'Droid Sans', sans-serif; */
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    /* layout */
    padding: 0.5em 0.6em 0.4em 0.6em;
    margin: 0.5em;
    margin: 0 auto;
    display: inline-block;
    position: relative;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    /* effects */
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    background-image: -webkit-gradient(
            radial,
            50% 0,
            100,
            50% 0,
            0,
            from(rgba(255, 255, 255, 0)),
            to(rgba(255, 255, 255, 0.7))
        ),
        url(https://lh4.googleusercontent.com/-Qs9-Ohgo6sk/UY11O1WoMQI/AAAAAAAACME/nUID7awcMow/s50-no/noise.png);
    background-image: -moz-radial-gradient(
            top,
            ellipse cover,
            rgba(255, 255, 255, 0.7) 0%,
            rgba(255, 255, 255, 0) 100%
        ),
        url(https://lh4.googleusercontent.com/-Qs9-Ohgo6sk/UY11O1WoMQI/AAAAAAAACME/nUID7awcMow/s50-no/noise.png);
    background-image: gradient(
            radial,
            50% 0,
            100,
            50% 0,
            0,
            from(rgba(255, 255, 255, 0)),
            to(rgba(255, 255, 255, 0.7))
        ),
        url(https://lh4.googleusercontent.com/-Qs9-Ohgo6sk/UY11O1WoMQI/AAAAAAAACME/nUID7awcMow/s50-no/noise.png);

    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;

    /* color */

    background-color: hsl(0, 0%, 75%);

    -webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em 0.3em,
        inset rgba(0, 0, 0, 0.15) 0 -0.1em 0.3em,
        /* inner shadow */ hsl(0, 0%, 60%) 0 0.1em 3px,
        hsl(0, 0%, 45%) 0 0.3em 1px,
        /* color border */ rgba(0, 0, 0, 0.2) 0 0.5em 5px; /* drop shadow */
    -moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em 0.3em,
        inset rgba(0, 0, 0, 0.15) 0 -0.1em 0.3em,
        /* inner shadow */ hsl(0, 0%, 60%) 0 0.1em 3px,
        hsl(0, 0%, 45%) 0 0.3em 1px,
        /* color border */ rgba(0, 0, 0, 0.2) 0 0.5em 5px; /* drop shadow */
    box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em 0.3em,
        inset rgba(0, 0, 0, 0.15) 0 -0.1em 0.3em,
        /* inner shadow */ hsl(0, 0%, 60%) 0 0.1em 3px,
        hsl(0, 0%, 45%) 0 0.3em 1px,
        /* color border */ rgba(0, 0, 0, 0.2) 0 0.5em 5px; /* drop shadow */
}
/* -------------- States -------------- */

.button:hover {
    background-color: hsl(0, 0%, 83%);
}

button:active {
    background-image: -webkit-gradient(
            radial,
            50% 0,
            100,
            50% 0,
            0,
            from(rgba(255, 255, 255, 0)),
            to(rgba(255, 255, 255, 0))
        ),
        url(https://lh4.googleusercontent.com/-Qs9-Ohgo6sk/UY11O1WoMQI/AAAAAAAACME/nUID7awcMow/s50-no/noise.png);
    background-image: -moz-gradient(
            radial,
            50% 0,
            100,
            50% 0,
            0,
            from(rgba(255, 255, 255, 0)),
            to(rgba(255, 255, 255, 0))
        ),
        url(https://lh4.googleusercontent.com/-Qs9-Ohgo6sk/UY11O1WoMQI/AAAAAAAACME/nUID7awcMow/s50-no/noise.png);
    background-image: gradient(
            radial,
            50% 0,
            100,
            50% 0,
            0,
            from(rgba(255, 255, 255, 0)),
            to(rgba(255, 255, 255, 0))
        ),
        url(https://lh4.googleusercontent.com/-Qs9-Ohgo6sk/UY11O1WoMQI/AAAAAAAACME/nUID7awcMow/s50-no/noise.png);

    -webkit-box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3em 0.3em,
        inset rgba(0, 0, 0, 0.2) 0 -0.1em 0.3em,
        /* inner shadow */ rgba(0, 0, 0, 0.4) 0 0.1em 1px,
        /* border */ rgba(0, 0, 0, 0.2) 0 0.2em 6px; /* drop shadow */
    -moz-box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3em 0.3em,
        inset rgba(0, 0, 0, 0.2) 0 -0.1em 0.3em,
        /* inner shadow */ rgba(0, 0, 0, 0.4) 0 0.1em 1px,
        /* border */ rgba(0, 0, 0, 0.2) 0 0.2em 6px; /* drop shadow */
    box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3em 0.3em,
        inset rgba(0, 0, 0, 0.2) 0 -0.1em 0.3em,
        /* inner shadow */ rgba(0, 0, 0, 0.4) 0 0.1em 1px,
        /* border */ rgba(0, 0, 0, 0.2) 0 0.2em 6px; /* drop shadow */

    -webkit-transform: translateY(0.2em);
    -moz-transform: translateY(0.2em);
    transform: translateY(0.2em);
}

button:focus {
    outline: none;
    /* color: rgba(254, 255, 255, 0.9) !important; */
    text-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px;
}

.button[disabled],
.button[disabled]:hover,
.button.disabled,
.button.disabled:hover {
    opacity: 0.5;
    cursor: default;
    color: rgba(0, 0, 0, 0.2) !important;
    text-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.05);
    background-image: none;
    border-top: none;

    -webkit-box-shadow: inset rgba(255, 254, 255, 0.4) 0 0.3em 0.3em,
        inset rgba(0, 0, 0, 0.1) 0 -0.1em 0.3em,
        /* inner shadow */ rgba(0, 0, 0, 0.3) 0 0.1em 1px,
        /* border */ rgba(0, 0, 0, 0.2) 0 0.2em 6px; /* drop shadow */
    -moz-box-shadow: inset rgba(255, 254, 255, 0.4) 0 0.3em 0.3em,
        inset rgba(0, 0, 0, 0.1) 0 -0.1em 0.3em,
        /* inner shadow */ rgba(0, 0, 0, 0.3) 0 0.1em 1px,
        /* border */ rgba(0, 0, 0, 0.2) 0 0.2em 6px; /* drop shadow */
    box-shadow: inset rgba(255, 254, 255, 0.4) 0 0.3em 0.3em,
        inset rgba(0, 0, 0, 0.1) 0 -0.1em 0.3em,
        /* inner shadow */ rgba(0, 0, 0, 0.3) 0 0.1em 1px,
        /* border */ rgba(0, 0, 0, 0.2) 0 0.2em 6px; /* drop shadow */

    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
}
