.loginForm {
    display: block;
    max-width: 280px;
    width: 100%;
    padding: 40px 20px;
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
    border-radius: 30px;
    margin: 0 auto;
    background-color: var(--white-color);
}

.googleLogo {
    display: block;
}

.googleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 32px;
    width: 122px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(1px 2px 3px rgba(170, 178, 197, 0.2));
}

.formText {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
}

.formLabel {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.04em;
}
.formLabel + .formLabel {
    margin-top: 12px;
}

.formInput {
    width: 100%;
    height: 52px;
    padding-left: 19px;
    border: none;
    border-radius: 26px;
    background-color: var(--form-bg-text-color);
    margin-top: 12px;
}
.formInput::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: var(--text-color-three);
}
.btnCont {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.formBtn {
    height: 44px;
    width: 116px;
    border-radius: 16px;
    background-color: var(--user-pictogram-bg-color);
    border: none;
    filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    padding: auto;
    color: var(--text-color-four);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .loginForm {
        max-width: 426px;
        padding: 56px 83px;
    }

    .googleText {
        margin-bottom: 20px;
    }
}
