.loginSectWrapper {
    margin-top: 83px;
}

.mainTextWrapper {
    max-width: 183px;
    margin-bottom: 50px;
}

.loginSectText {
    margin-left: 6px;
    margin-top: 5px;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .mainTextWrapper {
        max-width: 306px;
        margin-bottom: 80px;
        margin-left: 151px;
    }

    .loginSectText {
        margin-left: 53px;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.18em;
    }
}

@media screen and (min-width: 1280px) {
    .loginSectWrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .mainTextWrapper {
        max-width: 377px;
        width: 377px;
        margin-left: 0;
    }
    .loginSectWrapper {
        margin-top: 117px;
    }
    .loginSectText {
        margin-left: 73px;
    }
}
