.form {
  display: flex;
  align-items: center;
}

.formInputDate {
  width: 104px;
}

.formLabelProductDescription {
  margin-left: 32px;
}

.formInputProductCategory {
  height: 44px;
  width: 169px;
  padding-left: 20px;

  border: 2px solid #f6f7fc;
}

.formInputProductDescription {
  height: 44px;
  width: 280px;
  padding-left: 20px;

  border: 2px solid #f6f7fc;

  border-radius: 16px 0px 0px 0px;
}

.formInputCalc {
  height: 44px;
  width: 121px;
  padding-left: 20px;

  border: 2px solid #f6f7fc;

  border-radius: 0px 13px 13px 0px;

  background-image: url('../../../images/calculator.svg');
  background-position: center right 20px;
  background-repeat: no-repeat;
}

.btn {
  width: 136px;
  height: 44px;
  border: 2px solid rgba(246, 247, 252, 1);

  border-radius: 16px;
  background-color: transparent;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  cursor: pointer;
  transition: all 250ms linear;
}

.btn:not(:last-child) {
  margin-left: 32px;
  margin-right: 16px;
}

.btn:hover,
.btn:focus {
  border: none;
  color: #ffffff;
  background: #ff751d;
}
