.container {
    padding: 20px 30px;
}

.background {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
}

.title {
    color: #000000;
    font-size: 18px;
    margin-bottom: 10px;
}

.img {
    width: 160px;
    height: 180px;
    margin-bottom: 10px;
    background-image: url('../../images/error404.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.text {
    margin-bottom: 15px;
    color: var(--text-color-four);
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 120px;
    }
    .background {
        box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    }
    .title {
        font-size: 22px;
    }
    .img {
        width: 360px;
        height: 260px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        padding: 0 320px;
    }
    .background {
        padding: 30px 20px;
    }
}
