@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
/* @import 'react-loader-spinner/dist/loader/css/react-spinner-loader.css'; */

:root {
    --text-color-one: #52555fb2;
    --text-color-two: #eb5757;
    --text-color-three: #a6abb9;
    --text-color-four: #52555f;
    --modal-nonaccent-text-color: #c7ccdc;
    --white-color: #ffffff;
    --accent-color: #ff751d;
    --unaccent-color: #ffdac0;
    --unaccent-pictogram-color: #071f41;
    --negative-sum-color: #e7192e;
    --positive-sum-color: #407946;
    --inactive-tab-bg-color: #fefefe;
    --active-tab-bg-color: #fafbfd;
    --bg-modal-one-colour: #f2f5fc;
    --bg-modal-two-colour: #f5f6fb;
    --bg-modal-three-colour: #dfe2eb;
    --form-bg-text-color: #f6f7fb;
    --user-pictogram-bg-color: #f5f6fa;
    --header-vertical-line-bg-color: #e0e5eb;
    --zero-black-color: #000000;
    --red-color: #e7192e;

    --modal-comment-bg: linear-gradient(
        117.84deg,
        #1d346a 2.84%,
        #031634 67.28%
    );
    --anim-props: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --box-shadow: 0px 10px 60px 0px rgba(170, 178, 197, 0.2);

    --mobile: 480px;
    --tablet: 758px;
    --desktop: 1280px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}

button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
